
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*전체 사이즈가 다른 패깅과 마진에 변화하지않기위해*/
}
#wrap{
    width: 1200px; /*최대 너비*/
    position: relative;
    margin: 20px auto;
   
}
#header{
    padding: 10px 20px;
    
}
#logowrap {
 height: 50px;
}
#logowrap img{ /* id가 logowrap인 태그 밑에 있는 img태그 선택*/
 height: 100%;

}
/* 브라우저에 이미지 표현2*/
#logoimg{
    height: 50px;
    background: url("./logo.png") no-repeat; /* no-repeat 없으면 패턴형식으로*/
    width: 100px;
    background-size: contain;              /*cover;*/
}
.menuLink{
    font-size: 25px; /*기본 폰트 16*/
    color: black;
    text-decoration: none;
    font-weight: bolder; /*글자 굵기 700*/
    padding: 3px 7px;/*padding으로 여백을 주면 근처를 눌러도 눌린다*/
    margin: 0 20px;
}
#logowrap{
    float:left; /*블럭태그를 한줄로 사용하기위해 사용*/
}
#logoimg{
    float:left; 
}
