#box1{
    width: 300px;
    height: 200px;
    position: relative;
    background: lightgray;
}
#box1-1{
    width: 80px;
    height: 50px;
    background: pink;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    
}